@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
}

/* declaring reusable styles */
h3 {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-grey);
}
ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
li {
    font-size: 0.8rem;
    list-style: none;
    cursor: pointer;
}
a {
    color: var(--color-grey);
    text-decoration: none;
}
.active {
    color: #BA5A31;
}
:root {
    --background-color: #FEFAEC;
    --primary-color: #BA5A31;
    --secondary-color: #E59F71;
    --color-grey: #403D39;
    --error: #F02222;
    --success: #35F084;
    --warning: #F3C020;
    --info: #2F80ED;
}

/* navbar css properties */
.navbar {
    padding: 3% 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container {
    width: 5%;
}
.logo-container img {
    width: 100%;
}

.navbar-1 {
    width: 25%;
}

.navbar-2 {
    width: 27%;
}
.navbar-2 .icons {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.navbar-2 .icons img {
    width: 14%;
}

/* category css properties */
header {
    margin-left: 15%;
}

.category {
    padding: 2% 10%;
}
.category-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.--category{
    margin: 3% 0;
    padding: 2%;
    width: 15%;
    height: 15vh;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 4px rgba(225, 225, 225, 0.6);
    transition: 0.2s ease-in-out;
}
.category-container img {
    width: 37%;
}
.margin-bottom {
    margin-bottom: 14%;
}
.--category:hover {
    box-shadow: 0px 4px 8px 8px rgba(225, 225, 225, 0.6);
}
.phones {
    margin-bottom: 15%;
}
.hide {
    visibility: hidden;
}
.brands {
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.brands div {
    width: 110%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
}
.brands p {
    width: 100%;
    color: var(--primary-color);
    font-size: 0.6rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    cursor: pointer;
}


/* bottom nav styling */

.bottom-nav {
    width: 100%;
    display: flex;
    background-color: #FAECE3;
    padding: 3% 10% 2% 10%;
}
.left {    
    width: 36%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 3%;
}
.left .logo-container {
    width: 20%;
    margin-bottom: 3%;
}
.left .logo-container img {
    width: 80%;
    margin-left: 20%;
}
.left .icon-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}



.right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.right h3 {
    color: var(--primary-color);
}
.right ul {
    width: unset;
    justify-content: unset;
    flex-direction: column;
    margin-top: 20px;
}
.right ul li {
    font-size: 0.7rem;
    margin: 13px 0;
}



/* footer section */

footer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAECE3;
    padding: 2% 10% 2% 10%;
    border-top: 2px solid #000;

}
footer div:nth-child(2) {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
footer p {
    font-size: 0.8rem;
    cursor: pointer;
}