@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
}

/* ---declaring reusable styles */
h3 {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-grey);
}
ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
li {
    font-size: 0.8rem;
    list-style: none;
    cursor: pointer;
}
a {
    color: var(--color-grey);
    text-decoration: none;
}
.active {
    color: #BA5A31;
}


:root {
    --background-color: #FEFAEC;
    --primary-color: #BA5A31;
    --secondary-color: #E59F71;
    --color-grey: #403D39;
    --error: #F02222;
    --success: #35F084;
    --warning: #F3C020;
    --info: #2F80ED;
}

/* ---navbar css properties */
.navbar {
    padding: 3% 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container {
    width: 5%;
    display: flex;
}
.logo-container img {
    width: 100%;
}
.menu {
    display: none;
}

.navbar-1 {
    width: 25%;
}

.navbar-2 {
    width: 13%;
}
.navbar-2 .icons {
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.navbar-2 .icons img {
    width: 17%;
}

/* category css properties */
header {
    margin-left: 15%;
}

.category {
    padding: 2% 10%;
}
.category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;   
}
.--category{
    margin: 3% 0;
    padding: 2%;
    width: 18%;
    height: 22vh;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 4px rgba(225, 225, 225, 0.6);
    transition: 0.2s ease-in-out;
}
.category-container img {
    width: 37%;
}
.--category:hover {
    box-shadow: 0px 4px 8px 8px rgba(225, 225, 225, 0.6);
}
.brands {
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.brands div {
    width: 110%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
}
.brands p {
    width: 100%;
    color: var(--primary-color);
    font-size: 0.6rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    flex-wrap: wrap;
}

.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vh;
    cursor: pointer;
}
.all-products h3 {
    color: var(--primary-color);
}
/* utility classes */
.phones {
    margin-bottom: 15%;
}
.hide {
    visibility: hidden;
}
.margin-bottom {
    margin-bottom: 14%;
}
/* end */


/* bottom nav styling */

.bottom-nav {
    width: 100%;
    display: flex;
    background-color: #FAECE3;
    padding: 3% 10% 2% 10%;
}
.left {    
    width: 36%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 3%;
}
.left .logo-container {
    width: 20%;
    margin-bottom: 3%;
}
.left .logo-container img {
    width: 80%;
    margin-left: 20%;
}
.left .icon-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}



.right {
    width: 57%;
    display: flex;
    justify-content: space-between;
}
.right h3 {
    color: var(--primary-color);
}
.right ul {
    width: unset;
    justify-content: unset;
    flex-direction: column;
    margin-top: 20px;
}
.right ul li {
    font-size: 0.7rem;
    margin: 13px 0;
}



/* footer section */

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FAECE3;
    padding: 2% 10% 2% 10%;
    border-top: 2px solid #000;

}
footer div:nth-child(2) {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
footer p {
    font-size: 0.8rem;
    cursor: pointer;
}


/* ---iphone X  */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
    
    
    .navbar-1,
    .navbar-2
     {
        display: none;
    }
    /* classes to be toggled (media query)-- */
    .display {
        display: block;
    }
    .margin-left {
        margin-left: 77%;
    }
    /* end--- */

    .navbar-1 {
        width: 100%;
        position: absolute;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        background-color: var(--background-color);
        height: 100vh;
        padding: 5%;
    }
    .navbar-1 ul {
        flex-direction: column;
    }
    .navbar-1 li {
        margin: 5% 0;
    }
    .navbar-2 .icons {
        position: absolute;
        top: 290%;
        left: 30%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        padding: 10%;
    }
    /* ---the navbar as a whole */
    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
        padding: 7%;
        position: fixed;
        top: 0;
        background-color: var(--background-color);
        box-shadow: 0px 4px 8px 2px rgba(225, 225, 225, 0.6);
    }
    .logo-container {
        width: 97%;
        justify-content: space-between;
    }
    .logo-container img {
        width: 20%;
    }
    .logo-container img:nth-child(2) {
        width: 10%;
    }
    /* ---burger menu */
    .menu { 
        display: block;
    }


    header
     {
        margin-top: 35%;
    }
    header {
        margin-left: 7%;
    }
    header h3 {
        font-size: 0.8rem;
    }


    .category {
        padding: 0;
        margin: 0;
        padding: 3% 5%;
    }
    .--category {
        padding: 0;
        margin: 0;
        width: 45%;
        height: 20vh;
        margin: 4% 2%;
    }
    .category-container img {
        width: 36%;
        margin-top: 16%;
    }
    .brands div {
        width: 80%;
        margin: 0;
        margin: 4% 0;
        margin-left: 10%;
    }
    .brands p {
        font-size: 0.5rem;
        padding: 5%;
    }


    .bottom-nav {
        flex-direction: column;
        padding: 10% 5% 12% 5%;
    }

    .left {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .left .logo-container {
        width: 50%;
    }
    .left .icon-container {
        width: 50%;
    }
    .left .logo-container img {
        width: 70%;
        margin: 0;
        margin-left: 15%;
    }


    .right {
        width: 100%;
        margin-top: 7%;
    }
    .right ul li {
        font-size: 0.6rem;
        margin: 7px 0;
    }
    .right ul {
        width: 100%;
        margin-top: 10px;
    }
    .right h3 {
        width: 100px;
    }



    .footer {
        display: block;
        width: 100%;
    }
    footer {
        padding: 3%;
        align-items: center;
        flex-direction: column-reverse;
    }
    footer p {
        font-size: 0.5rem;
    }
    footer div:nth-child(1) {
        margin-top: 3%;
        padding: 2% 0;
    }
    footer div:nth-child(2) {
        width: 90%;
    }
}

/* ---iphone 6,7,8 plus  */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 736px) 
    and (-webkit-device-pixel-ratio: 3) {
    
    
    .navbar-1,
    .navbar-2
     {
        display: none;
    }
    /* classes to be toggled (media query)-- */
    .display {
        display: block;
    }
    .margin-left {
        margin-left: 82%;
    }
    /* end--- */

    .navbar-1 {
        width: 100%;
        position: absolute;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        background-color: var(--background-color);
        height: 100vh;
        padding: 5%;
    }
    .navbar-1 ul {
        flex-direction: column;
    }
    .navbar-1 li {
        margin: 5% 0;
    }
    .navbar-2 .icons {
        position: absolute;
        top: 290%;
        left: 30%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        padding: 10%;
    }
    /* ---the navbar as a whole */
    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
        padding: 7%;
        position: fixed;
        top: 0;
        background-color: var(--background-color);
        box-shadow: 0px 4px 8px 2px rgba(225, 225, 225, 0.6);
    }
    .logo-container {
        width: 97%;
        justify-content: space-between;
    }
    .logo-container img {
        width: 15%;
    }
    .logo-container img:nth-child(2) {
        width: 10%;
    }
    /* ---burger menu */
    .menu { 
        display: block;
    }


    header
     {
        margin-top: 35%;
    }
    header {
        margin-left: 7%;
    }
    header h3 {
        font-size: 0.8rem;
    }


    .category {
        padding: 0;
        margin: 0;
        padding: 3% 5%;
    }
    .--category {
        padding: 0;
        margin: 0;
        width: 45%;
        height: 20vh;
        margin: 4% 2%;
    }
    .--category h3 {
        font-size: 0.7rem;
    }
    .category-container img {
        width: 36%;
        margin-top: 16%;
    }
    .brands div {
        width: 80%;
        margin: 0;
        margin: 1% 0;
        margin-left: 10%;
    }
    .brands p {
        font-size: 0.5rem;
        padding: 5%;
    }


    .bottom-nav {
        flex-direction: column;
        padding: 10% 5% 12% 5%;
    }

    .left {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .left .logo-container {
        width: 50%;
    }
    .left .icon-container {
        width: 50%;
    }
    .left .logo-container img {
        width: 70%;
        margin: 0;
        margin-left: 15%;
    }


    .right {
        width: 100%;
        margin-top: 7%;
    }
    .right ul li {
        font-size: 0.6rem;
        margin: 7px 0;
    }
    .right ul {
        width: 100%;
        margin-top: 10px;
    }
    .right h3 {
        width: 100px;
    }



    .footer {
        display: block;
        width: 100%;
    }
    footer {
        padding: 3%;
        align-items: center;
        flex-direction: column-reverse;
    }
    footer p {
        font-size: 0.5rem;
    }
    footer div:nth-child(1) {
        margin-top: 3%;
        padding: 2% 0;
    }
    footer div:nth-child(2) {
        width: 90%;
    }
}

/* ---ipad */
@media only screen 
    and (device-width: 768px) 
    and (device-height: 1024px) 
    and (-webkit-device-pixel-ratio: 2) {
    
    
    .navbar-1,
    .navbar-2
     {
        display: none;
    }
    /* classes to be toggled (media query)-- */
    .display {
        display: block;
    }
    .margin-left {
        margin-left: 77%;
    }
    .margin-bottom {
        margin-bottom: 13%;
    }
    .phones {
        margin-bottom: 12%;
    }
    /* end--- */

    .navbar-1 {
        width: 100%;
        position: absolute;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        background-color: var(--background-color);
        height: 100vh;
        padding: 15%;
    }
    .navbar-1 ul {
        flex-direction: column;
    }
    .navbar-1 li {
        margin: 5% 0;
    }
    .navbar-2 .icons {
        position: absolute;
        top: 290%;
        left: 30%;
        padding: 0;
        margin: 0;
        margin-left: -7%;
        text-align: center;
        padding: 10%;
    }
    /* ---the navbar as a whole */
    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
        padding: 7%;
        position: fixed;
        top: 0;
        background-color: var(--background-color);
        box-shadow: 0px 4px 8px 2px rgba(225, 225, 225, 0.6);
    }
    .logo-container {
        width: 97%;
        justify-content: space-between;
    }
    .logo-container img {
        width: 10%;
    }
    .logo-container img:nth-child(2) {
        width: 5%;
    }
    /* ---burger menu */
    .menu { 
        display: block;
    }


    header
     {
        margin-top: 35%;
    }
    header {
        margin-left: 7%;
    }
    header h3 {
        font-size: 0.8rem;
    }


    .category {
        padding: 0;
        margin: 0;
        padding: 3% 5%;
    }
    .--category {
        padding: 0;
        margin: 0;
        width: 45%;
        height: 21vh;
        margin: 4% 2%;
    }
    .category-container img {
        width: 36%;
        margin-top: 5%;
    }
    .brands div {
        width: 80%;
        margin: 0;
        margin-left: 10%;
    }
    .brands p {
        font-size: 0.5rem;
        padding: 5%;
    }


    .bottom-nav {
        flex-direction: column;
        padding: 10% 5% 12% 5%;
    }

    .left {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .left .logo-container {
        width: 50%;
    }
    .left .icon-container {
        width: 50%;
    }
    .left .logo-container img {
        width: 70%;
        margin: 0;
        margin-left: 15%;
    }


    .right {
        width: 100%;
        margin-top: 7%;
    }
    .right ul li {
        font-size: 0.6rem;
        margin: 7px 0;
    }
    .right ul {
        width: 100%;
        margin-top: 10px;
    }
    .right h3 {
        width: 100px;
    }



    .footer {
        display: block;
        width: 100%;
    }
    footer {
        padding: 3%;
        align-items: center;
        flex-direction: column-reverse;
    }
    footer p {
        font-size: 0.5rem;
    }
    footer div:nth-child(1) {
        margin-top: 3%;
        padding: 2% 0;
    }
    footer div:nth-child(2) {
        width: 90%;
    }
}

