<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin</title>
    <link rel="stylesheet" href="/public/css/category.css">
</head>
<body>
    
    <section class="navbar">
        <div class="logo-container">
            <img src="/public/images/category-page/Logo.png" alt="the penguin logo">
        </div>
        <div class="navbar-1">
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#" class="active" >Categories</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">How To</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="navbar-2">
            <div class="icons">
                <img src="/public/images/category-page/search-icon.png" alt="a search icon">
                <img src="/public/images/category-page/profile-icon.svg" alt="a profile icon">
                <img src="/public/images/category-page/save-icon.svg" alt="a save icon">
            </div>
        </div>
    </section>

    <section class="category">
        <div class="category-container"></div>
        <div class="category-container"></div>
        <div class="category-container"></div>
    </section>
</body>
</html>