<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin</title>
    <link rel="stylesheet" href="/public/css/category.css">
</head>
<body>
    
    <section class="navbar">
        <div class="logo-container">
            <img src="/public/images/category-page/Logo.png" alt="the penguin logo">
            <img src="/public/images/category-page/menu.svg" alt="" class="menu"    id="menu">
        </div>
        <div class="navbar-1"   id="nav1">
            <nav>
                <ul>
                    <li>

                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#" class="active" >Categories</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">How To</a>

                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/categories" class="active">Categories</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/howto">How To</a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="navbar-2"   id="nav2">
            <div class="icons">
                <img src="/public/images/category-page/search-icon.png" alt="a search icon" class="search">
                <img src="/public/images/category-page/profile-icon.svg" alt="a profile icon"   class="profile">
                <img src="/public/images/category-page/Header-Save-Icon.svg" alt="a save icon"  class="save">
            </div>
        </div>
    </section>

    <header>
        <h3>Categories</h3>
    </header>

    <section class="category">
        <div class="category-container">
            <div class="--category" id="category-1">
                <img src="/public/images/category-page/computers.svg" alt=""    class="margin-bottom">
                <h3>Computers</h3>
                <div class="brands" id="brand-1">
                    <div>
                        <p>Apple</p>
                        <p>Hp</p>
                        <p>Dell</p>
                    </div>
                    <div>
                        <p>Lenovo</p>
                        <p>Acer</p>
                        <p>Samsung</p>
                    </div>
                    <div>
                        <p>Razer</p>
                        <p></p>
                        <p></p>
                    </div>
                    
                </div>
            </div>
            <div class="--category" id="category-2">
                <img src="/public/images/category-page/mobile-phones.svg" alt=""    class="phones">
                <h3>Mobile Phones</h3>
                <div class="brands" id="brand-2">
                    <div>
                        <p>IPhone</p>
                        <p>Blackview</p>
                        <p>Oppo</p>
                    </div>
                    <div>
                        <p>Samsung</p>
                        <p>Vivo</p>
                        <p>Samsung</p>
                    </div>
                    <div>
                        <p>Xiaomi</p>
                        <p>Huawei</p>
                        <p>Infinix</p>
                    </div>
                </div>
            </div>
            <div class="--category" id="category-3">
                <img src="/public/images/category-page/computer-accessories.svg" alt="" class="margin-bottom">
                <h3>Computer Accessories</h3>
                <div class="brands" id="brand-3">
                    <div>
                        <p>Keyboard</p>
                        <p>Webcams</p>
                    </div>
                    <div>
                        <p>Printers</p>
                        <p>Mouse pads</p>
                    </div>
                    <div>
                        <p>Scanners</p>
                        <p>Laptop stands</p>
                    </div>
                </div>
            </div>
            <div class="--category" id="category-4">
                <img src="/public/images/category-page/mobile-phone-accessories.svg" alt="" class="phones">
                <h3>Mobile Phone Accessories</h3>
                <div class="brands" id="brand-4">
                    <div>
                        <p>Powerbanks</p>
                        <p>Selfie sticks</p>
                    </div>
                    <div>
                        <p>Headphones</p>
                        <p>Bluetooth <br> speakers</p>
                    </div>
                    <div>
                        <p>Smartwatches</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-container">
            <div class="--category" id="category-5">
                <img src="/public/images/category-page/photography.svg" alt=""  class="margin-bottom">
                <h3>Photography</h3>
                <div class="brands" id="brand-5">
                    <div>
                        <p>Tripods</p>
                        <p>Camera bags</p>
                    </div>
                    <div>
                        <p>Drones</p>
                        <p>Collapsible <br> reflector</p>
                    </div>
                    <div>
                        <p>Memory card <br> straps</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="--category" id="category-6">
                <img src="/public/images/category-page/networking.svg" alt=""   class="phones">
                <h3>Networking</h3>
                <div class="brands" id="brand-6">
                    <div>
                        <p>Firewalls</p>
                        <p>Usb hubs</p>
                    </div>
                    <div>
                        <p>Kvm Switches</p>
                        <p>Switches</p>
                    </div>
                    <div>
                        <p>Routers</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="--category" id="category-7">
                <img src="/public/images/category-page/softwares.svg" alt=""    class="margin-bottom">
                <h3>Softwares</h3>
                <div class="brands" id="brand-7">
                    <div>
                        <p>Office software</p>
                    </div>
                    <div>
                        <p>Operating systems</p>
                    </div>
                </div>
            </div>
            <div class="--category" id="category-8">
                <img src="/public/images/category-page/storage.svg" alt=""  class="phones">
                <h3>Storage</h3>
                <div class="brands" id="brand-8">
                    <div>
                        <p>Hard drives</p>
                        <p>Nas servers</p>
                    </div>
                    <div>
                        <p>Optical storage</p>
                        <p>External <br> enclosures</p>
                    </div>
                    <div>
                        <p>Optical drives</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-container  container-2"    id="category">
            <div class="category-container">
                <div class="--category" id="category-9">
                    <img src="/public/images/category-page/tablets.svg" alt=""  class="margin-bottom">
                    <h3>Tablets</h3>
                    <div class="brands" id="brand-9">
                        <div>
                            <p>Apple iPad</p>
                            <p>XiaomiI Pad</p>
                        </div>
                        <div>
                            <p>Amazon fire</p>
                            <p>Samsung <br> galaxy tab</p>
                        </div>
                        <div>
                            <p>Lenovo tab</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="--category" id="category-10">
                    <img src="/public/images/category-page/computer-accessories.svg" alt="" class="phones">
                    <h3>Gaming Consoles</h3>
                    <div class="brands" id="brand-10">
                        <div>
                            <p>Apple</p>
                            <p>Hp</p>
                            <p>Dell</p>
                        </div>
                        <div>
                            <p>Lenovo</p>
                            <p>Acer</p>
                            <p>Samsung</p>
                        </div>
                    </div>
                </div>
                <div class="--category  all-products">
                    <h3>All Products</h3>
                </div>
                <div class="--category hide">
                    <h3></h3>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bottom-nav">
        <div class="left">
            <div class="logo-container">
                <img src="/public/images/category-page/Logo.png" alt="">
            </div>
            <div class="icon-container">
                <img src="/public/images/category-page/Facebook-icon.svg" alt="a facebook-icon">
                <img src="/public/images/category-page/Instagram-icon.svg" alt="an instagram-icon">
                <img src="/public/images/category-page/Twitter-icon.svg" alt="a twitter-icon">
                <img src="/public/images/category-page/LinkedIn-icon.svg" alt="a linkedin-icon">
            </div>
        </div>
        <div class="right">
            <nav>
                <h3>Penguin</h3>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Coming soon</li>
                    <li>Careers</li>
                    <li>Collaborations</li>
                </ul>
            </nav>
            <nav>
                <h3>Learn More</h3>
                <ul>
                    <li>Getting Started</li>
                    <li>Safe shopping</li>
                    <li>Membership</li>
                    <li>Product Reviews</li>
                    <li>FAQ</li>
                </ul>
            </nav>
            <nav>
                <h3>Partners & Advertisers</h3>
                <ul>
                    <li>Register your shop</li>
                    <li>Register your brand</li>
                    <li>Advertising</li>
                    <li>Penguin API</li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="footer">
        <footer>
            <div>
                <p>© 2022, All right reserved.</p>
            </div>
            <div>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
                <p>Cookies Settings</p>
            </div>
        </footer>
    </section>

    <script src="/public/js/script.js"></script>
</body>
</html>