<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin</title>
    <link rel="stylesheet" href="/public/css/sign-in.css">
</head>
<body>
    <div class="sign-in">
        <div class="space">
        <h4>Sign In</h4>
        <form action="" class="form">
          
            <fieldset class="box">
                <legend>Email Address</legend>
                <input type="text" 
                id="text"
                placeholder="example@gmail.com" 
                name="Email">
            </fieldset>
          
    
            <fieldset class="box">
                <legend>Password</legend>
                <input type="text" 
                id="text"
                placeholder="***********" 
                name="Password">
            </fieldset>
            <button class="up">Sign-In</button>
               <div class="already">
              <p class="direct">New to Penguin? <a href="#" target="_blank`" class="Sign">Sign Up</a></p>
            </div>
              <div class="line">
                <span ><br>
                    <p> or continue with </p><br>
                   </span>
                </div>
                <button class="continue"> <img src="/public/images/signUp-page/google-icon.png" alt=""> Continue with Google</button>

        </form>
        </div>
    </div>
    <script src="script.js"></script>
                  
    
</body>
</html>