<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin</title>
    <link rel="stylesheet" href="../../public/css/sign-in.css">
    <link rel="stylesheet" href="../../public/css/navbar.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
    <nav class="nav">
        <img src="../../public/images/category-page/Logo.png" alt="logo">
        <div class="burger">
            <i class="fa-regular fa-xmark"></i>
            <i class="fa fa-bars"></i>
        </div>
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">How-to</a></li>
        </ul>
        <div class="icon">
            <img src="../../public/images/category-page/search-icon.png" alt="">
            <img src="../../public/images/category-page/profile-icon.svg" alt="">
            <img src="../../public/images/signIn-page/save-icon.png" alt="">
        </div>
    </nav>
    <div class="container">
        <div class="wrapper">
        <h3>Sign In</h3>
            <form action="">
                <div class="input">
                    <label for="email">email address</label>
                    <input type="text" id="email" placeholder="example@gmail.com">
                </div>
                <div class="input">
                    <label for="password">password</label>
                    <input type="password" id="password" placeholder="********">
                </div>
                <div class="btn center">
                    <button>Sign In</button>
                </div>
            </form>
            <div class="extras">
                <p>New to Penguine? <a href="../Sign-Up/SignUp.html">Sign Up</a></p>
                <p>--------------- or continue with ---------------</p>

                <div class="google center">
                    <div class="center">
                        <img src="../../public/images/signIn-page/google-icon.png" alt="">
                        <button>Continue with Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER 1 SECTION -->
    <footer id="footer">
        <div class="footer-items">
            <div class="one">
                <div class="footer-item center">
                    <div class="image">
                        <img src="../../public/images/category-page/Logo.png" alt="logo">
                    </div>
                    <div class="socials">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="footer-item">
                    <h6>Penguine</h6>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Coming Soon</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Collaborations</a></li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h6>Learn More</h6>
                    <ul>
                        <li><a href="">Getting Started</a></li>
                <li><a href="">Safe shopping</a></li>
                <li><a href="">Memebership</a></li>
                <li><a href="">Product Reviews</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h6>Partners & Advertisers</h6>
            <ul>
                <li><a href="">Register your shop</a></li>
                <li><a href="">Register your brand</a></li>
                <li><a href="">Advertising</a></li>
                <li><a href="">Penguine API</a></li>
            </ul>
        </div>
    </div>
    </div>
<hr>
<div class="footer-extras">
    <div class="footer-extra">
        <span>2022, All rights reserved.</span>
    </div>
    <div class="footer-extra">
        <ul>
            <li><a href="">Privacy Policies</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Cookies Settings</a></li>
        </ul>
    </div>
</div>
</footer>
    <script src="script.js"></script>
                  
    
</body>
</html>