<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/home.css">
    <script src="https://kit.fontawesome.com/347f221dac.js" crossorigin="anonymous"></script>

</head>
<!-- done by MROGUNGA -->

<body>
    <div class="wrapper">
        <nav class="nav">
            <img src="../../public/images/category-page/Logo.png" alt="logo">
            <div class="burger">
                <i class="fa-regular fa-xmark"></i>
                <i class="fa fa-bars"></i>
            </div>
            <ul class="links">
                <li><a href="../Home/home.html" style="color: #BA5A31;">Home</a></li>
                <li><a href="../Category/Category.html">Categories</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">How-to</a></li>
            </ul>
            <div class="icon">
                <img src="../../public/images/category-page/search-icon.png" alt="">
                <img src="../../public/images/category-page/profile-icon.svg" alt="">
                <img src="../../public/images/signIn-page/save-icon.png" alt="">
            </div>
        </nav>

        <!-- Header -->
        <main class="maincontent">
            <div class="HeadText grid">
                <h4 class="headmini">it's gaddget shopping</h4>
                <h1 class="headmain">BUT IT'S MUCH BETTER!!!</h1>
                <p class="headinfo">
                    You never have to buy gadgets beyond your
                    budget againcompare price of
                    gadgets as your
                    wish-list to get the
                    best prices available!
                </p>
                <button class="headbtn">Get Started <i id="icon" class="fa fa-long-arrow-right"></i>
                </button>
            </div>
            <div class="headimage grid center">
                <img src="../../public/images/home-page/hero-image.png" class="gadget" alt="landscape picture" width="#">
            </div>
        </main>
        <!-- end of header -->

        <!-- BEST DEALS -->

        <h2>Best Deals</h2>
        <section class="sec">
            <div class="products">
                <div class="prev-next-btn">
                    <button><i class="fa fa-chevron-left"></i></button>
                    <button><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- card start -->
                <div class="card center">
                    <div class="one">
                        <div class="img center">
                            <img src="../../public/images/home-page/desktop1.png" alt="laptop image">
                        </div>
                        <div class="pinfo">Apple Retina 4k | core i7|3.8GHz|8GB 512GB | Radeon Pro 5500 | XT 27"
                        </div>
                    </div>
                    <div class="two">
                        <h6 class="start">starting from</h6>
                    <div class="price">#500,000</div>
                    <button class="pricebtn">compare price</button>
                    <div class="extras">
                        <div class="staricon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="bookmark">
                                <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                                <p>save</p>
                            </div>
                    </div>
                    </div>
                </div>
                <!-- card end -->

                <!-- card start -->
                <div class="card center">
                    <div class="one">
                        <div class="img center">
                            <img src="../../public/images/home-page/desktop2.png" alt="laptop image">
                        </div>
                        <div class="pinfo">Apple MacBook Retina 4K|<br>
                            Core i7|3.8GHz|8GB 512GB|Radeon <br>
                            Pro 5500|XT 27"
                        </div>
                    </div>
                    <div class="two">
                        <h6 class="start">starting from</h6>
                    <div class="price">#700,000</div>
                    <button class="pricebtn">compare price</button>
                    <div class="extras">
                        <div class="staricon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="bookmark">
                                <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                                <p>save</p>
                            </div>
                    </div>
                    </div>
                </div>
                <!-- card end -->
                <!-- card start -->
                <div class="card center">
                    <div class="one">
                        <div class="img center">
                            <img src="../../public/images/home-page/desktop2.png" alt="laptop image">
                        </div>
                        <div class="pinfo">Apple MacBook Retina 4K|<br>
                            Core i7|3.8GHz|8GB 512GB|Radeon <br>
                            Pro 5500|XT 27"
                        </div>
                    </div>
                    <div class="two">
                        <h6 class="start">starting from</h6>
                    <div class="price">#700,000</div>
                    <button class="pricebtn">compare price</button>
                    <div class="extras">
                        <div class="staricon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="bookmark">
                                <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                                <p>save</p>
                            </div>
                    </div>
                    </div>
                </div>
                <!-- card end -->
                <!-- card start -->
                <div class="card center">
                    <div class="one">
                        <div class="img center">
                            <img src="../../public/images/home-page/desktop1.png" alt="laptop image">
                        </div>
                        <div class="pinfo">Apple Retina 4k|core i7|<br>
                            3.8GHz|8GB 512GB|Radeon Pro<br>
                            5500|XT 27"
                        </div>
                    </div>
                    <div class="two">
                        <h6 class="start">starting from</h6>
                    <div class="price">#500,000</div>
                    <button class="pricebtn">compare price</button>
                    <div class="extras">
                        <div class="staricon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="bookmark">
                                <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                                <p>save</p>
                            </div>
                    </div>
                    </div>
                    </div>
                    <div class="card center mobile">
                        <p>Browse all deals</p><br>
                        <img src="../../public/images/home-page/browse-by-category/right-arrow.svg" alt="">
                    </div>
                <!-- card end -->
            </div>
            <!-- BEST DEALS END -->
        </section>
        <!-- category icon -->
        <h2 class="cat-text">Browse by category</h2>
        <div class="catbox">
            <div class="category center">
                <img src="../../public/images/home-page/browse-by-category/computers.svg" alt="computer icon">
                <p class="cathead">Computers</p>
                <div class="hide-list">
                    <p><a href="#">Apple</p></a> 
                    <p><a href="#">Hp</p></a> 
                    <p><a href="#">Dell</p></a> 
                    <p><a href="#">Lenovo</p></a> 
                    <p><a href="#">Acer</p></a> 
                    <p><a href="#">Samsung</p></a> 
                    <p><a href="#">Razer</p></a> 
                </div>
            </div>
            <div class="category center">
                <img src="../../public/images/home-page/browse-by-category/tablets.svg" alt="computer icon">
                <p class="cathead">Tablets</p>
                <div class="hide-list">
                    <p><a href="#">Apple iPad</p></a> 
                    <p><a href="#">XiaomiI Pad</p></a> 
                    <p><a href="#">Amazon fire</p></a>
                    <p><a href="#">Lenovo tab</p></a> 
                    <p><a href="#">Samsung galaxy tab</p></a> 
                </div>
            </div>
            <div class="category center">
                <img src="../../public/images/home-page/browse-by-category/mobile-phones.svg" alt="computer icon">
                <p class="cathead">Mobile Phones</p>
                <div class="hide-list">
                    <p><a href="#">IPhone</p></a> 
                    <p><a href="#">Blackberry</p></a> 
                    <p><a href="#">Oppo</p></a> 
                    <p><a href="#">Samsung</p></a> 
                    <p><a href="#">Vivo</p></a> 
                    <p><a href="#">Infinix</p></a> 
                    <p><a href="#">Huawei</p></a> 
                </div>
            </div>
            <div class="category center">
                <img src="../../public/images/home-page/browse-by-category/networking.svg" alt="computer icon">
                <p class="cathead">Networking</p>
                <div class="hide-list">
                    <p><a href="#">Firewalls</p></a> 
                    <p><a href="#">Usb hubs</p></a> 
                    <p><a href="#">Kvm Switches</p></a> 
                    <p><a href="#">Switches</p></a> 
                    <p><a href="#">Routers</p></a> 
                </div>
            </div>
            <div class="category center">
                <span class="cathead"><a href="../Category/Category.html">All Categories <i id="icon" class="fa-solid fa-long-arrow-right"></i></a></p>
            </div>
        </div>
        <!-- category icon end -->

        <!-- ABOUT PAGE -->
        <div class="about">
            <div class="aboutlogo">
                <img src="../../public/images/category-page/Logo.png" class="aboutimg" alt="">
            </div>
            <div class="abouttext">
                <h2>About Us</h2>
                <p class="aboutp">Penguin (by team_penguin) is a platform that allows users to compare the prices of various tech
                    gadgets across multiple online shopping platforms with the aim of helping users find the best
                    price for a product.</p>
            </div>
        </div>
        <!-- ABOUT PAGE -->

        <!-- HOW TO COMPARE -->
        <div class="compare">
            <h2 class="cattext">How to compare</h2>
            <p>The penguin platform allows you to compare product prices in four (4) simple steps:</p>
        </div>
        <!-- category card -->
        <div class="comparebox">
            <div class="each-compare">
                <h1>01</h1>
                <div>
                    <p>Create an acount</p>
                <span>Sign Up <i id="icon" class="fa-solid fa-long-arrow-right"></i>
                </span>
                </div>
            </div>
            <div class="each-compare">
                <h1>02</h1>
                <div>
                    <p>Search for a product</p>
                <span>All Products<i id="icon" class="fa-solid fa-long-arrow-right"></i>
                </span>
                </div>
            </div>
            <div class="each-compare">
                <h1>03</h1>
                <div>
                    <p>Select desired product</p>
                <span>All Products <i id="icon" class="fa-solid fa-long-arrow-right"></i>
                </span>
                </div>
            </div>
            <div class="each-compare">
                <h1>04</h1>
                <div>
                    <p>Check listed price</p>
                <span>All Products <i id="icon" class="fa-solid fa-long-arrow-right"></i>
                </span>
                </div>
            </div>
        </div>
        <!-- category card -->
        <!-- FOOTER 1 SECTION -->
        <footer id="footer">
            <div class="footer-items">
                <div class="one">
                    <div class="footer-item center">
                        <div class="image">
                            <img src="../../public/images/category-page/Logo.png" alt="logo">
                        </div>
                        <div class="socials">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="two">
                    <div class="footer-item">
                        <h6>Penguine</h6>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Coming Soon</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Collaborations</a></li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <h6>Learn More</h6>
                        <ul>
                            <li><a href="">Getting Started</a></li>
                    <li><a href="">Safe shopping</a></li>
                    <li><a href="">Memebership</a></li>
                    <li><a href="">Product Reviews</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h6>Partners & Advertisers</h6>
                <ul>
                    <li><a href="">Register your shop</a></li>
                    <li><a href="">Register your brand</a></li>
                    <li><a href="">Advertising</a></li>
                    <li><a href="">Penguine API</a></li>
                </ul>
            </div>
        </div>
        </div>
    <hr>
    <div class="footer-extras">
        <div class="footer-extra">
            <span>2022, All rights reserved.</span>
        </div>
        <div class="footer-extra">
            <ul>
                <li><a href="">Privacy Policies</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Cookies Settings</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
    // const burgers = document.querySelectorAll(".burger i");
    // const cancel = document.querySelector(".fa-xmark");
    // const open = document.querySelector(".fa-bars");
    // burgers.forEach(burger => {
    //     burger.addEventListener("click", ()=> {
    //         if (burger.className.includes("fa-xmark")) {
    //             cancel.style.display = "none";
    //             open.style.display = "block";
    //         } else if (burger.className.includes("fa-bars"))  {
    //             cancel.style.display = "block";
    //             open.style.display = "none";
    //         }
    //     })
    // })
</script>
</body>
</html>