<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="https://kit.fontawesome.com/347f221dac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/navbar.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
    <section class="navbar">
        <div class="logo-container">
            <img src="/public/images/category-page/Logo.png" alt="the penguin logo">
            <img src="/public/images/category-page/menu.svg" alt="" class="menu"    id="menu">
        </div>
        <div class="navbar-1"   id="nav1">
            <nav>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/categories">Categories</a>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                        <li>
                            <a href="/howto">How To</a>
                        </li>
                    </ul>
            </nav>
        </div>
        <div class="navbar-2"   id="nav2">
            <div class="icons">
                <a href="/search"><img src="/public/images/category-page/search-icon.png" alt="a search icon"></a>
                <img src="/public/images/category-page/profile-icon.svg" alt="a profile icon">
                <img src="/public/images/category-page/Header-Save-Icon.svg" alt="a save icon">
            </div>
        </div>
    </section>
    <div class="container">
        <h1 style="font-size: 50px;color: rgba(186, 90, 49, 1);">COMING SOON</h1>
    </div>
    <!-- FOOTER 1 SECTION -->
    <section class="bottom-nav">
        <div class="left">
            <div class="logo-container">
                <img src="/public/images/category-page/Logo.png" alt="">
            </div>
            <div class="icon-container">
                <img src="/public/images/category-page/Facebook-icon.svg" alt="a facebook-icon">
                <img src="/public/images/category-page/Instagram-icon.svg" alt="an instagram-icon">
                <img src="/public/images/category-page/Twitter-icon.svg" alt="a twitter-icon">
                <img src="/public/images/category-page/LinkedIn-icon.svg" alt="a linkedin-icon">
            </div>
        </div>
        <div class="right">
            <nav>
                <h3>Penguin</h3>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Coming soon</li>
                    <li>Careers</li>
                    <li>Collaborations</li>
                </ul>
            </nav>
            <nav>
                <h3>Learn More</h3>
                <ul>
                    <li>Getting Started</li>
                    <li>Safe shopping</li>
                    <li>Membership</li>
                    <li>Product Reviews</li>
                    <li>FAQ</li>
                </ul>
            </nav>
            <nav>
                <h3>Partners & Advertisers</h3>
                <ul>
                    <li>Register your shop</li>
                    <li>Register your brand</li>
                    <li>Advertising</li>
                    <li>Penguin API</li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="footer">
        <footer>
            <div>
                <p>© 2022, All right reserved.</p>
            </div>
            <div>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
                <p>Cookies Settings</p>
            </div>
        </footer>
    </section>

    <script src="/public/js/navbar.js"></script>
</body>
</html>