<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin</title>
    <link rel="stylesheet" href="/public/css/sign-up.css">
</head>
<body>
    <div id="main-container">
    <nav class="navbar">
        <div class="topbar">
            <img src="/public/images/signUp-page/Logo.png" class="ourlogo" alt="Logo">
            <div class="bartop">
                <ul class="details">
                    <li class="pages"><a href="#" class="open">Home</a></li>
                    <li class="pages"><a href="#" target="_blank" class="open">Categories</a></li>
                    <li class="pages"><a href="#" target="_blank" class="open">About Us</a></li>
                    <li class="pages"><a href="#" target="_blank" class="open">How-to</a></li>
                </ul>
                <div class="icons">
<a href="#" target="_blank"><img src="/public/images/signUp-page/search-icon.png" class="size" alt=""/></a><br>
<a href="#" target="_blank"><img src="/public/images/signUp-page/profile-icon.png" class="size1" alt=""/></a><br>
<a href="#" target="_blank"><img src="/public/images/signUp-page/save-icon.png" class="size" alt=""/></a><br>
                

                </div>
                
            </div>
        </div>
    </nav>
<div class="formal">
    <div class="space">
    <h4>Sign up</h4>
    <form action="" class="form">
      <div class="one">
        <fieldset class="box">
            <legend>Full Name</legend>
            <input type="text" 
            id="text"
            placeholder="Team Penguin" 
            name="Fname">
        </fieldset>
      </div>
      <div class="one">
        <fieldset class="box">
            <legend>Email Address</legend>
            <input type="text" 
            id="text"
            placeholder="example@gmail.com" 
            name="Email">
        </fieldset>
      </div>
      <div class="one">
        <fieldset class="box">
            <legend>Create Password</legend>
            <input type="text" 
            id="text"
            placeholder="***********" 
            name="Password">
        </fieldset>
           
      </div>
            <div class="one">
                <fieldset class="box">
                    <legend>Confirm Password</legend>
                    <input type="text" 
            id="text"
            placeholder=  "***********" 
            name="Password">
            
                </fieldset>
             
                
              </div> 
              <div class="button">
              <button class="up">Sign-Up</button>
            </div>
            <div class="already">
                <p class="direct">Already a member?<a href="#" target="_blank`" class="Sign">Sign In</a></p>
              </div>
              <div class="line">
                <span ><br>
                    <p> or continue with </p><br>
                   </span>
                </div>

               <button class="continue"> <img src="/public/images/signUp-page/google-icon.png" alt=""> Continue with Google</button>
            </div>
            </div>
        </div>
    </div>
    <br>
    <br>
        


            <footer  >
                <div class="footer-container">
                <div class="footer-icons">
                    <img src="/public/images/signUp-page/Logo.png" class="footlogo" alt="">
                
                    <ul class="socials">
                    <li><a href="#"><img src="/public/images/signUp-page/facebook-icon.png" alt=""></a></li>
                    <li><a href="#"><img src="/public/images/signUp-page/instagram-icon.png" alt=""></a></li>
                    <li><a href="#"><img src="/public/images/signUp-page/twitter-icon.png" alt=""></a></li>
                    <li><a href="#"><img src="/public/images/signUp-page/linkedin-icon.png" alt=""></a></li>
                </ul>
                </div>

                <div class="footer-list1">
                <ul class="footer1">
                    <li class="footer-title">Penguin</li>
                    <li><a href="#" class="bottom-link">About us</a></li>
                    <li><a href="#" class="bottom-link">Contact us</a></li>
                    <li><a href="#" class="bottom-link">Coming soon</a></li>
                    <li><a href="#" class="bottom-link">Careers</a></li>
                    <li><a href="#" class="bottom-link">Collaborations</a></li>
                </ul>
                </div>
                <div class="footer-list1">
                <ul class="footer1">
                    <li class="footer-title">Learn More</li>
                    <li><a href="#" class="bottom-link">Getting Started</a></li>
                    <li><a href="#" class="bottom-link">Safe shopping</a></li>
                    <li><a href="#" class="bottom-link">Membership</a></li>
                    <li><a href="#" class="bottom-link">Product Reviews</a></li>
                    <li><a href="#" class="bottom-link">FAQ</a></li>
                </ul>
                </div> 
                <div class="footer-list1">
                <ul class="footer1">
                    <li class="footer-title">Partners and Advertisers</li>
                    <li><a href="#" class="bottom-link"> Register your shop</a></li>
                    <li><a href="#" class="bottom-link">Register your brand</a></li>
                    <li><a href="#" class="bottom-link">Advertising</a></li>
                    <li><a href="#" class="bottom-link">Penguin API</a></li>
                    
                </ul>
            </div>
            <br>
            <div class="ourclass">
                <div class="footer2">&copy; 2022. All right reserved</div>
                <br>
  <div class="footlink"> <br>
      <li><a href="#" class="policy"></a>Privacy Policy</li>
      <li><a href="#" class="policy"></a>Terms of Service</li>
      <li><a href="#" class="policy"></a>Cookies Settings</li>
  </div>
</div>
           
        </div>
    </div>

  
</div>

 
            </footer>
            <script src="script.js"></script>
</body>
</html>